<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Add a new task
      </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="addListTask(titleInput, detailsInput, imagePath)">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-input placeholder="Title" [(ngModel)]="titleInput"></ion-input>
      <ion-label>Priority:</ion-label>
      <ion-row class="ion-align-start">
      <ion-col size="2">  
        <div class="bullet-color1" (click)="changePriorityLevel(1)"></div>
      </ion-col>
      <ion-col size="2">
          <div class="bullet-color2" (click)="changePriorityLevel(2)"></div>
      </ion-col>        
      <ion-col size="2">
          <div class="bullet-color3" (click)="changePriorityLevel(3)"></div>
      </ion-col>    
    </ion-row>
    <ion-textarea placeholder="Details" [(ngModel)]="detailsInput"></ion-textarea>
    
    <ion-row>
      <ion-img ng-src="imagePath" src="../../assets/picture.png"></ion-img>

      <!-- "../../assets/picture.png" -->
      <ion-button (click)="takePicture()">
         <ion-icon name="camera" ></ion-icon> 
      </ion-button>
    </ion-row>
  </ion-content>
  