ion-input, ion-textarea, ion-label, ion-row {
    margin: 5%;
    padding: 1%;
    width: 90%;
  }

  ion-content{
      width: 375px;
      justify-content: center;
      align-items: center;
  }

  ion-img{

    width: 50%;
    height: 45%;

  }